<div class="card">
  <div class="card-image">
    <img id="picture" src="{{load.pictureLocation}}" onerror="this.src='assets/no_picture.png'">
    <span class="card-title">{{load.batch}}</span>
  </div>
  <div class="card-content">
    <div class="columns resize">
      <div>
        <p><b [innerHTML]="'ARTICLE_CODE' | translate"></b>{{load.articleCode}}</p>
        <p><b [innerHTML]="'PLANT' | translate">Vestiging </b>{{load.department}}</p>
        <p><b [innerHTML]="'DESCRIPTION' | translate">Beschrijving </b> <span [style.font-size] = "getFontSizeForDescription(load.description)">{{load.description}}</span></p>
        <p><b [innerHTML]="'STOCK' | translate">Vrij </b>{{load.free}}</p>
      </div>
      <div class="space">
        <p><b [innerHTML]="'PRICE/THOUSAND' | translate"></b>{{load.price}} €</p>
        <p><b [innerHTML]="'PIECES/PALLET' | translate"></b>{{load.piecesPerRack}}</p>
        <p><b [innerHTML]="'TONNAGE' | translate">Tonnage </b>{{load.weight}} kg</p>
        <p><b [innerHTML]="'STOCK_SQUARE_METRES' | translate">Vrij m² </b>{{load.freeInCubicMeters}}</p>
      </div>
    </div>
  </div>
</div>
